.chart-container {
  width: 600px; /* or any other fixed size */
  height: 200px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - animation */
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
