
demo-client/.angular/cache/
demo-client/node_modules/
/node_modules
npm-debug.log
yarn-error.log
.idea/uiDesigner.xml
.idea/misc.xml
.idea/libraries/Maven__org_webjars_jquery_3_7_1.xml
.idea/libraries/Maven__org_testng_testng_7_9_0.xml
.idea/libraries/Maven__org_springframework_spring_tx_6_1_1.xml
.idea/libraries/Maven__org_springframework_spring_orm_6_1_1.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_6_1_1.xml
.idea/libraries/Maven__org_springframework_spring_aspects_6_1_1.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_3_2_0.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_2_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_3_2_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_3_2_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_3_2_0.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_5_3_Final.xml
.idea/libraries/Maven__org_hibernate_orm_hibernate_core_6_3_1_Final.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_6_0_6_Final.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_4_0_4.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_4_0_4.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_core_4_0_4.xml
.idea/libraries/Maven__org_eclipse_angus_angus_activation_2_0_1.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_20_1.xml
.idea/libraries/Maven__org_antlr_antlr4_runtime_4_10_1.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_23.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_2_0_1.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_3_1_0.xml
.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_1.xml
.idea/libraries/Maven__io_smallrye_jandex_3_1_2.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_5_0_1.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_4_1_2.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_6_0.xml
.idea/libraries/Maven__com_beust_jcommander_1_82.xml
.idea/example.iml
.idea/.name
.idea/libraries/Maven__junit_junit_4_13_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml
