/*ngx-charts-line-chart {*/
/*  width: 800px;*/
/*  height: 800px;*/
/*}*/
/* ngx charts bypass */

.ngx-charts-outer {
  -webkit-animation:chartFadeIn linear 0 !important;
  animation:chartFadeIn linear 0 !important;
}

.tooltip-anchor {
  -webkit-animation:chartFadeIn linear 0 !important;
  animation:chartFadeIn linear 0 !important;
}

::ng-deep .ngx-tooltip-content {
  transition: none !important;
  animation: none !important;
}

:host {
  width: 100%;
  height: 100%;
  display: block;
}
