<!--<p>userinput works!</p>-->

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <label for="tfsaAmountNumber">TFSA</label>
    <input #currencyInput appCurrencyFormat type="text" id="tfsaAmountNumber" formControlName="tfsaAmount">
  </div>
<!--  <input type="range" id="tfsaAmountRange" formControlName="tfsaAmount" [value]="sliderValue" (input)="onSliderChange($event)" min="0" max="2000000" step="10000">-->
  <div class="input-container">
    <label for="rrspAmount">RRSP</label>
    <input appCurrencyFormat type="text" id="rrspAmount" formControlName="rrspAmount" placeholder="Input 2">
  </div>

  <div class="input-container">
    <label for="margAmount">Standard</label>
    <input appCurrencyFormat type="text" id="margAmount" formControlName="margAmount" placeholder="Input 3">
  </div>

  <button type="submit">{{ isSubmitted ? 'Recalculate' : 'Run' }}</button>
</form>
