<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <label for="tfsaWithdraw">TFSA Withdrawal</label>
    <div *ngIf="userForm.get('tfsaWithdraw')?.disabled; else enabledInputTfsa">
      <div class="disabled-placeholder">TFSA 0 Balance</div>
    </div>
    <ng-template #enabledInputTfsa>
      <input [placeholder]="isInputTFSADisabled ? 'TFSA 0 Balance' : 'Enter Withdrawal'"
             [ngClass]="{'disabled-input': isInputTFSADisabled}"
             #currencyInput
             appCurrencyFormat type="text"
             id="tfsaWithdraw"
             formControlName="tfsaWithdraw">
    </ng-template>
  </div>

  <div class="input-container">
    <label for="rrspWithdraw">RRSP Withdrawal</label>
    <div *ngIf="userForm.get('rrspWithdraw')?.disabled; else enabledInputRrsp">
      <div class="disabled-placeholder">RRSP 0 Balance</div>
    </div>
    <ng-template #enabledInputRrsp>
      <input [placeholder]="isInputRRSPDisabled ? 'RRSP 0 Balance' : 'Enter Withdrawal'"
             [ngClass]="{'disabled-input': isInputRRSPDisabled}"
             #currencyInput
             appCurrencyFormat type="text"
             id="rrspWithdraw"
             formControlName="rrspWithdraw">
    </ng-template>
  </div>

  <div class="input-container">
    <label for="margWithdraw">Non-registered Withdrawal</label>
    <div *ngIf="userForm.get('margWithdraw')?.disabled; else enabledInputMarg">
      <div class="disabled-placeholder">Non-registered 0 Balance</div>
    </div>
    <ng-template #enabledInputMarg>
      <input [placeholder]="isInputMARGDisabled ? 'NON-REG 0 Balance' : 'Enter Withdrawal'"
             [ngClass]="{'disabled-input': isInputMARGDisabled}"
             #currencyInput
             appCurrencyFormat type="text"
             id="margWithdraw"
             formControlName="margWithdraw">
    </ng-template>
  </div>

  <button type="submit">{{ isSubmitted ? 'Recalculate' : 'Run' }}</button>
</form>
