<body>
  <header>
    <h1>nest egg optimizer</h1>
    <!-- You can add navigation, links, or other information here -->
  </header>
  <div class="container">
    <app-userinput></app-userinput>
    <app-displaywindow></app-displaywindow>
  </div>
</body>
<!--<div class="myDiv">-->
<!--&lt;!&ndash;    <app-money-time-chart></app-money-time-chart>&ndash;&gt;-->
<!--    <p>test</p>-->
<!--    <p>{{ content }}</p>-->
<!--  <ul>-->
<!--&lt;!&ndash;    <li><a [routerLink]="[{ outlets: { outlet1: ['component1'] } }]">Component 1 Link in outlet 1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a [routerLink]="[{ outlets: { outlet2: ['component1'] } }]">Component 1 Link in outlet 2</a></li>&ndash;&gt;-->
<!--    <li><a routerLink="/component1">Component 1 link</a></li>-->
<!--    <li><a routerLink="/component2">Component 2 link</a></li>-->
<!--&lt;!&ndash;    <li><a [routerLink]="[{ outlets: { outlet1: ['component1','both'], outlet2: ['component2'] } }]">Change Both Routes</a></li>&ndash;&gt;-->
<!--  </ul>-->
<!--&lt;!&ndash;  <a [routerLink]="['component1', 1]">Testing route parameter. Send 1 to component 1 route</a>&ndash;&gt;-->
<!--  <div>-->
<!--    <b>outlet default:</b>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div>-->
<!--    <b>outlet 1:</b>-->
<!--    <router-outlet name='outlet1'></router-outlet>-->
<!--  </div>-->
<!--  <div>-->
<!--    <b>outlet 2:</b>-->
<!--  <router-outlet name='outlet2'></router-outlet>-->
<!--  </div>-->
<!--</div>-->
<!--<app-component1></app-component1>-->

