/* Container styling */
form {
  background-color: #202020; /* Light grey background */
  padding: 5px 15px; /* Reduced padding around the form */
  border-radius: 30px; /* Smaller rounded corners */
  width: 200px; /* Reduced width of the form '*/
  height: 550px;
  margin: auto; /* Center the form on the page */
  font-size: 10px; /* Smaller font size for the entire form */
}

/* Label styling */
form label {
  display: block;
  margin-top: 15px; /* Reduced space above each label */
  margin-bottom: 2px; /* Reduced space between label and input */
  margin-left: 10px;
  color: white;
  font-size: 10px; /* Reduced font size for labels */
}

/* General input and select element styling */
form input[type="number"],
form input[type="text"],
form select {
  width: 100%;
  padding: 2px 10px; /* Reduced padding inside the inputs/select */
  margin: 2px 0; /* Reduced margin for vertical spacing */
  /*box-sizing: border-box;*/
  border: 0px solid #ccc;
  border-radius: 30px; /* Semi-circular rounded borders for inputs and select */
  background-color: #727272;
  color: white;
}


/* Specific styling for the slider */
form input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px; /* Further reduced height of the slider */
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 30px; /* Semi-circular shape for the slider */
}

/* Specific styling for the slider thumb */
form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  width: 15px; /* Size of the slider thumb */
  height: 15px; /* Size of the slider thumb, equal to width to make it circular */
  background: #BB86FC; /* Color of the slider thumb */
  cursor: pointer; /* Change cursor to pointer when hovering over the slider thumb */
  border-radius: 50%; /* Fully rounded edges to create a circle */
  border: 0px solid #ccc; /* Optional: adds a border to the slider thumb */
}

form input[type="range"]::-moz-range-thumb {
  width: 20px; /* Size of the slider thumb */
  height: 20px; /* Size of the slider thumb, equal to width to make it circular */
  background: #BB86FC; /* Color of the slider thumb */
  cursor: pointer; /* Change cursor to pointer when hovering over the slider thumb */
  border-radius: 50%; /* Fully rounded edges to create a circle */
  border: 1px solid #ccc; /* Optional: adds a border to the slider thumb */
}

/* Button styling */
form button {
  width: 100%;
  padding: 3px; /* Further reduced padding inside the button */
  background-color: #BB86FC;
  color: white;
  border: none;
  height: 35px;
  border-radius: 40px; /* Semi-circular rounded borders for the button */
  cursor: pointer;
  margin-top: 20px; /* Reduced margin at the top */
  transition: background-color 0.1s ease;
}

form button:hover {
  background-color: #3700B3;
}

.currency-input {
  position: relative; /* Needed for positioning the pseudo-element */
}

.currency-input::before {
  content: '$'; /* Dollar sign */
  position: absolute;
  left: 8px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #333; /* Adjust the color as needed */
}

.currency-input input {
  padding-left: 20px; /* Make space for the dollar sign */
}

.shadow-box {
  /* Adjust the color, opacity, and offsets as needed */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); /* horizontal-offset vertical-offset blur-radius color */
  /* Other styling for your element */
  width: 200px;
  height: 100px;
  margin: 20px;
  background-color: #fff; /* Light background to contrast with the shadow */
  border-radius: 4px;
}

.red-border {
  border: 5px solid red !important;
}

mat-slider {
  width: 250px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}

.mat-slider-track-fill {
  background-color: red;
}

.mat-slider-thumb {
  background-color: blue;
}

.mat-slider {
  min-width: 350px;
}

.mat-slider-thumb {
  width: 30px;
  height: 30px;
}

