<!--<p>userinput works!</p>-->

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="tfsaAmountNumber">TFSA Balance</label>
  <input appCurrencyFormat type="text" id="tfsaAmountNumber" formControlName="tfsaAmount">
  <input type="range" id="tfsaAmountRange" formControlName="tfsaAmount" [value]="sliderValueTfsa" (input)="onSliderChange($event, 'tfsaAmount')" min="0" max="2000000" step="10000">

  <label for="rrspAmountNumber">RRSP Balance</label>
  <input appCurrencyFormat #currencyFormatter="appCurrencyFormat" type="text" id="rrspAmountNumber" formControlName="rrspAmount">
  <input type="range" id="rrspAmountRange" formControlName="rrspAmount" [value]="sliderValueRrsp" (input)="onSliderChange($event,'rrspAmount')" min="0" max="2000000" step="10000">

  <label for="margAmountPrincipal">Standard Principal Balance</label>
  <input appCurrencyFormat type="text" id="margAmountPrincipal" formControlName="margAmountPrincipal">
  <input type="range" id="margPrincipalAmountRange" formControlName="margAmountPrincipal" [value]="sliderValueMargPrincipal" (input)="onSliderChange($event, 'margAmountPrincipal')" min="0" max="2000000" step="10000">

  <label for="margAmountCapitalGain">Standard Capital Gain Balance</label>
  <input appCurrencyFormat type="text" id="margAmountCapitalGain" formControlName="margAmountCapitalGain" placeholder="Input 4">

  <label for="margAmountCapitalGain">Additional Income</label>
  <input appCurrencyFormat type="text" id="income" formControlName="income" placeholder="Input 4">

  <label for="interestRate">Expected Interest Rate</label>
  <input type="text" id="interestRate" formControlName="interestRate" placeholder="Input 5">

  <label for="amountPerYear">Post-Tax Amount Needed Per Year</label>
  <input [class.red-border]="updateNeeded" appCurrencyFormat type="text" id="amountPerYear" formControlName="amountPerYear" placeholder="Input 6">

  <label for="provinceSelect">Province</label>

  <select id="provinceSelect" formControlName="province">
    <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
  </select>

  <button type="submit">{{ isSubmitted ? 'Recalculate' : 'Run' }}</button>
</form>
